<!-- Edit Dialog -->

<div [id]="'editDialog' + type" [ngClass]="'edit-dialog'">
  <div [ngClass]="'edit-dialog-content'">
    <div [ngClass]="'dialog-header'">
      <span>{{dialogTitle}}</span>
      <button [ngClass]="'close'" (click)="close(false)">&times;</button>
    </div> <!-- end header -->

    <div [ngClass]="'edit-dialog-body'" *ngIf="editedObject">
      <app-scotch-edit-form [scotch]="editedObject" *ngIf="dialogType==='scotch'"></app-scotch-edit-form>
      <app-note-edit-form [note]="editedObject" *ngIf="dialogType==='note'"></app-note-edit-form>
      <app-tasting-edit-form [tasting]="editedObject" *ngIf="dialogType==='tasting'"></app-tasting-edit-form>
      <app-tasting-detail-form [tasting]="editedObject" *ngIf="dialogType==='tastingDetail'"></app-tasting-detail-form>
      <app-wishlist-edit-form [wishlist]="editedObject" *ngIf="dialogType==='wishlist'"></app-wishlist-edit-form>
      <app-wishlist-select-form [wishlist]="editedObject" *ngIf="dialogType==='wishlist-select'"></app-wishlist-select-form>
      <app-scotch-select-form [scotch]="editedObject" *ngIf="dialogType==='scotch-select'"></app-scotch-select-form>
      <app-signin-form [user]="editedObject" *ngIf="dialogType==='signin'"></app-signin-form>
      <app-signup-form [user]="editedObject" *ngIf="dialogType==='signup'"></app-signup-form>
      <app-style-edit-form [style]="editedObject" *ngIf="dialogType==='style'"></app-style-edit-form>
      <app-region-edit-form [region]="editedObject" *ngIf="dialogType==='region'"></app-region-edit-form>
      <app-price-edit-form [price]="editedObject" *ngIf="dialogType==='price'"></app-price-edit-form>
    </div> <!-- end body -->


    <div class="edit-dialog-footer">
      <hr>
      <div>
        <button (click)="close(false)" label="Cancel" [ngClass]="'button'"><i class="fa fa-times"></i> Cancel</button>
        <button (click)="close(true)" label="Save" [ngClass]="'button'"><i class="fa fa-check"></i> Save</button>
      </div> <!-- end button bar -->
    </div>  <!-- end footer -->
  </div> <!-- end content -->
</div>


