    <div id="thirdPartyTastings" [ngClass]="'tab'" style="display: none">
<app-data-table 
       dataSetName="thirdPartyTastings" 
       [dataset]="thirdPartyTastings" 
       pageSize="6" 
       detailsButton="true" 
       editButton="true" 
       deleteButton="true" 
       newButton="true"
       filterButton="true"
       (showDetails)="showTastingDetails($event)" 
       (newItem)="addTasting($event)"
       (editItem)="editTasting($event)"
       (deleteItem)="confirmDeleteTasting($event)">
  <app-column  
              fieldName="dateAdded" 
              header="Date" 
              sortable="true" 
              filterable="false" 
              dataType="date" 
              styleClass="dateColumn">
  </app-column>
  <app-column  
              fieldName="location" 
              header="Source" 
              sortable="true" 
              filterable="true" 
              dataType="text" 
              styleClass="textColumn">
  </app-column>
  <app-column  
              fieldName="nose" 
              header="Nose" 
              sortable="true" 
              filterable="true" 
              dataType="text" 
              styleClass="textColumn">
  </app-column>
  <app-column  
              fieldName="palate" 
              header="Palate" 
              sortable="true" 
              filterable="true" 
              dataType="text" 
              styleClass="textColumn">
  </app-column>
  <app-column  
              fieldName="finish" 
              header="Finish" 
              sortable="true" 
              filterable="true" 
              dataType="text" 
              styleClass="textColumn">
  </app-column>
  <app-column  
              fieldName="comment" 
              header="Comment" 
              sortable="true" 
              filterable="true" 
              dataType="text" 
              styleClass="textColumn">
  </app-column>
</app-data-table>

<app-edit-dialog [type]="'third-tastings'"></app-edit-dialog>
<app-confirm-dialog [type]="'third-tastings'"></app-confirm-dialog>