.openColumn {
  width: 10px;
}

.dateColumn {
  width: 90px;
}

.nameColumn {
  max-width: 100px;
}

.descriptionColumn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}


.editColumn {
  /* max-width: 43px; */
}
