    <!-- Prices  -->
    <div id="prices" [ngClass]="'tab'" style="display: none">

<app-data-table 
                dataSetName="prices" 
                [dataset]="prices" 
                pageSize="6" 
                detailsButton="false" 
                newButton="true"
                editButton="true" 
                deleteButton="true" 
                filterButton="true"
                (newItem)="addPrice()"
                (editItem)="editPrice($event)"
                (deleteItem)="confirmDeletePrice($event)">
          <app-column  
                      fieldName="dateAdded" 
                      header="Date" 
                      sortable="true" 
                      filterable="false" 
                      dataType="date" 
                      styleClass="dateColumn">
          </app-column>
          <app-column  
                      fieldName="location" 
                      header="Location" 
                      sortable="true" 
                      filterable="true" 
                      dataType="text" 
                      styleClass="textColumn">
          </app-column>
          <app-column  
                      fieldName="size" 
                      header="Size" 
                      sortable="true" 
                      filterable="true" 
                      dataType="text" 
                      styleClass="textColumn">
          </app-column>
          <app-column  
                      fieldName="price" 
                      header="Price" 
                      sortable="true" 
                      filterable="false" 
                      dataType="currency" 
                      styleClass="numericColumn">
          </app-column>
          <app-column  
                      fieldName="tax" 
                      header="Tax" 
                      sortable="true" 
                      filterable="false" 
                      dataType="currency" 
                      styleClass="numericColumn">
          </app-column>
          <app-column  
                      fieldName="shipping" 
                      header="Shipping" 
                      sortable="true" 
                      filterable="false" 
                      dataType="currency" 
                      styleClass="numericColumn">
          </app-column>
          <app-column  
                      fieldName="total" 
                      header="Total" 
                      sortable="true" 
                      filterable="false" 
                      dataType="currency" 
                      styleClass="numericColumn">
          </app-column>
          <app-column  
                      fieldName="comment" 
                      header="Comment" 
                      sortable="false" 
                      filterable="true" 
                      dataType="text" 
                      styleClass="textColumn">
          </app-column>
</app-data-table>
      
<app-edit-dialog [type]="'prices'"></app-edit-dialog>
<app-confirm-dialog [type]="'prices'"></app-confirm-dialog>