<app-page-header [title]="title" [subtitle]="subtitle"></app-page-header>
<div style="margin: 10px">
	<button [ngClass]="'button'" (click)="addScotch()"><i class="fa fa-plus"></i> New</button>
</div>
<div>
	<table>
	  <tr>
	    <th [ngClass]="'openColumn'"></th>
	    <th [ngClass]="'distillerColumn'">Distiller</th> 
	    <th [ngClass]="'expressionColumn'">Expression</th>
	    <th [ngClass]="'ageColumn'">Age</th>
	    <th [ngClass]="'styleColumn'">Style</th>
	    <th [ngClass]="'regionColumn'">Region</th>
        <th [ngClass]="'ratingColumn'">Rating</th>
	    <th [ngClass]="'instockColumn'">In Stock</th>
	    <th [ngClass]="'editColumn'"></th>
	  </tr>
	  <tr *ngFor="let scotch of scotches">
		<td [ngClass]="'openColumn'"><button [ngClass]="'button'" (click)="showDetails(scotch)"><i class="fa fa-folder-open-o"></i></button></td>
        <td [ngClass]="'distillerColumn'">{{scotch.distillerName}}</td>
		<td [ngClass]="'expressionColumn'">{{scotch.flavor}}</td>
		<td [ngClass]="'ageColumn'">{{scotch.age}}</td>
		<td [ngClass]="'styleColumn'">{{scotch.style}}</td>
		<td [ngClass]="'regionColumn'">{{scotch.region}}</td>
        <td [ngClass]="'ratingColumn'">
          <app-rating-star [rating]="scotch.rating ? scotch.rating : 0"></app-rating-star>
        </td>
        <td [ngClass]="'instockColumn'">
          <div *ngIf="scotch.inStock">
            <span [ngClass]="'check-mark'"><i class="fa fa-check"></i></span>
          </div>
        </td>
		<td [ngClass]="'editColumn'">
			<button [ngClass]="'button'" (click)="editScotch(scotch)"><i class="fa fa-pencil"></i> Edit</button>
			<button [ngClass]="'button'" (click)="confirmDeleteScotch(scotch)"><i class="fa fa-times"></i> Delete</button>
		</td>
	  </tr>
	</table>
</div>
<app-footer></app-footer>

<app-edit-dialog></app-edit-dialog>
<app-confirm-dialog></app-confirm-dialog>