.openColumn {
  max-width: 10px;
}

.ageColumn {
  max-width: 12px;
  text-align: right;
}

.styleColumn {
  max-width: 32px;
}

.regionColumn {
  max-width: 25px;
}

.instockColumn {
  max-width: 20px;
  text-align: center;
}

.editColumn {
  max-width: 43px;
}

.check-mark
{
    color: darkgreen;
    font-size: 110%;
    font-weight: bold;
}

.red-x
{
    color: #c74949;
    font-size: 110%;
    font-weight: bold;
}
