<app-page-header [title]="title" [subtitle]="subtitle"></app-page-header>
<div *ngIf="scotch">
  <!-- Header -->
  <div [ngClass]="'scotchDetailHeader'">
      <!-- Rating -->
      <div class="scotch-rating">
        <app-rating-star [rating]="scotch.rating ? scotch.rating : 0"></app-rating-star>
      </div>

      <!-- In Stock status -->
      <div class="in-stock">
        <div *ngIf="scotch.inStock">
          <span>In stock: </span><span class="check-mark"><i class="fa fa-check"></i></span>
        </div>
        <div *ngIf="!scotch.inStock">
          <span>In stock: </span><span class="red-x"><i class="fa fa-times"></i></span>
        </div>
      </div>
  </div>
  
  <div [ngClass]="'spacer'"></div>
  
  <div [ngClass]="'editIcon'">
    <i class="fa fa-pencil" (click)="editScotch(scotch)"></i>
  </div>
  
  <!-- Details -->
    <div [ngClass]="'scotchDetails'">
      <div [ngClass]="'row'">
        <div [ngClass]="'scotch-detail-label'">Style:</div>
        <div [ngClass]="'scotch-detail-data'">{{scotch.style}}</div>
      </div>
      <div [ngClass]="'row'">
        <div [ngClass]="'scotch-detail-label'">Region:</div>
        <div [ngClass]="'scotch-detail-data'">{{scotch.region}}</div>
      </div>
      <div [ngClass]="'row'">
          <div [ngClass]="'scotch-detail-comment-label'">Bottling Notes:</div>
          <div [ngClass]="'scotch-detail-comment-data'">{{scotch.bottlingNotes}}</div>
      </div>
      <div [ngClass]="'row'">
          <div [ngClass]="'scotch-detail-comment-label'">General Comments:</div>
          <div [ngClass]="'scotch-detail-comment-data'">{{scotch.comment}}</div>
      </div>
    </div>
  
    <div [ngClass]="'tabBar'">
      <a id="notesButton" [ngClass]="'tabButton _activeTab'" (click)="openTab('notes')">Notes</a>
      <a id="tastingsButton" [ngClass]="'tabButton _inactiveTab'" (click)="openTab('tastings')">My Tasting Notes</a>
      <a id="thirdPartyTastingsButton" [ngClass]="'tabButton _inactiveTab'" (click)="openTab('thirdPartyTastings')">3rd Party Tasting Notes</a>
      <a id="wishlistsButton" [ngClass]="'tabButton _inactiveTab'" (click)="openTab('wishlists')">Wish Lists</a>
      <a id="pricesButton" [ngClass]="'tabButton _inactiveTab'" (click)="openTab('prices')">Price List</a>
    </div>

    <div [ngClass]="'tabContainer'">
      
    <!-- Notes Table -->
      <app-notes-table 
          [notes]="notes" 
          [scotch]="scotch" 
          (refreshNeeded)="fetchScotch($event)"
          *ngIf="dataLoaded">
      </app-notes-table>
      
    <!-- Tastings  -->
      <app-tastings-table 
          [personalTastings]="personalTastings" 
          [scotch]="scotch" 
          (refreshNeeded)="fetchScotch($event)"
          *ngIf="dataLoaded">
      </app-tastings-table>

      
    <!-- Third Party Tastings  -->
      <app-third-tastings-table 
          [thirdPartyTastings]="thirdPartyTastings" 
          [scotch]="scotch" 
          (refreshNeeded)="fetchScotch($event)"
          *ngIf="dataLoaded">
    </app-third-tastings-table>

    <!-- Wishlists  -->
    <app-wishlists-table
          [wishlists]="wishlists" 
          [scotch]="scotch" 
          (refreshNeeded)="fetchScotch($event)" 
          *ngIf="dataLoaded">
    </app-wishlists-table>

      <!-- Prices Table -->
      <app-prices-table
          [prices]="prices" 
          [scotch]="scotch" 
          (refreshNeeded)="fetchScotch($event)"
          *ngIf="dataLoaded">
      </app-prices-table>
      
  </div> <!-- tabContainer  -->
</div>
<app-footer></app-footer>


<app-edit-dialog [type]="scotch"></app-edit-dialog>
<app-confirm-dialog [type]="scotch"></app-confirm-dialog>