<app-page-header [title]="title" [subtitle]="subtitle"></app-page-header>
<div *ngIf="scotch">
  <!-- Header -->
  <div [ngClass]="'scotchDetailHeader'">
      <!-- Rating -->
      <div class="scotch-rating">
        <app-rating-star [rating]="scotch.rating ? scotch.rating : 0"></app-rating-star>
      </div>

      <!-- In Stock status -->
      <div class="in-stock">
        <div *ngIf="scotch.inStock">
          <span>In stock: </span><span class="check-mark"><i class="fa fa-check"></i></span>
        </div>
        <div *ngIf="!scotch.inStock">
          <span>In stock: </span><span class="red-x"><i class="fa fa-times"></i></span>
        </div>
      </div>
  </div>
  
  <div [ngClass]="'spacer'"></div>
  
  <div [ngClass]="'editIcon'">
    <i class="fa fa-pencil" (click)="editScotch(scotch)"></i>
  </div>
  
  <!-- Details -->
<!--  <div [ngClass]="'scotch-detail-comment'"> -->
    <div [ngClass]="'scotchDetails'">
      <div [ngClass]="'row'">
        <div [ngClass]="'scotch-detail-label'">Style:</div>
        <div [ngClass]="'scotch-detail-data'">{{scotch.style}}</div>
      </div>
      <div [ngClass]="'row'">
        <div [ngClass]="'scotch-detail-label'">Region:</div>
        <div [ngClass]="'scotch-detail-data'">{{scotch.region}}</div>
      </div>
      <div [ngClass]="'row'">
          <div [ngClass]="'scotch-detail-comment-label'">Bottling Notes:</div>
          <div [ngClass]="'scotch-detail-comment-data'">{{scotch.bottlingNotes}}</div>
      </div>
      <div [ngClass]="'row'">
          <div [ngClass]="'scotch-detail-comment-label'">General Comments:</div>
          <div [ngClass]="'scotch-detail-comment-data'">{{scotch.comment}}</div>
      </div>
    </div>
<!--  </div>  -->
  
    <div [ngClass]="'tabBar'">
      <a id="notesButton" [ngClass]="'tabButton _activeTab'" (click)="openTab('notes')">Notes</a>
      <a id="tastingsButton" [ngClass]="'tabButton _inactiveTab'" (click)="openTab('tastings')">My Tasting Notes</a>
      <a id="thirdPartyTastingsButton" [ngClass]="'tabButton _inactiveTab'" (click)="openTab('thirdPartyTastings')">3rd Party Tasting Notes</a>
      <a id="wishlistsButton" [ngClass]="'tabButton _inactiveTab'" (click)="openTab('wishlists')">Wish Lists</a>
    </div>

    <div [ngClass]="'tabContainer'">
        
    <!-- NOTES  -->
      <div id="notes" [ngClass]="'tab'" style="display: block">
        <!-- <div [ngClass]="'section-label'">Notes</div> -->
        <div>
          <button [ngClass]="'button'" (click)="addNote()"><i class="fa fa-plus"></i> Add</button>
        </div>
        <br>
        <div>
          <table>
            <tr>
              <th [ngClass]="'dateColumn'">Date</th> 
              <th>Note</th>
              <th [ngClass]="'editButtomColumn'"></th>
            </tr>
            <tr *ngFor="let note of notes">
              <td [ngClass]="'dateColumn'">{{note.dateAdded | utcDate | date:'MM/dd/yyyy'}}</td>
              <td>{{note.note}}</td>
              <td [ngClass]="'editButtomColumn'">
                <button [ngClass]="'button'" (click)="editNote(note)"><i class="fa fa-pencil"></i> Edit</button>
                <button [ngClass]="'button'" (click)="confirmDeleteNote(note)"><i class="fa fa-times"></i> Delete</button>
              </td>
            </tr>
          </table>
        </div>
    </div>

    <!-- Tastings  -->
    <div id="tastings" [ngClass]="'tab'" style="display: none">
      <!-- <div [ngClass]="'section-label'">Tastings</div> -->
      <div>
        <button [ngClass]="'button'" (click)="addTasting(false)"><i class="fa fa-plus"></i> Add</button>
      </div>
      <br>
    <table>
      <tr>
        <th [ngClass]="'dateColumn'">Date</th> 
        <th>Location</th>
        <th [ngClass]="'ratingColumn'">Rating</th>
        <th>Comment</th>
        <th [ngClass]="'editButtomColumn'"></th>
      </tr>
      <tr *ngFor="let tasting of personalTastings">
        <td [ngClass]="'dateColumn'">{{tasting.dateAdded | utcDate | date:'MM/dd/yyyy'}}</td>
        <td>{{tasting.location}}</td>
        <td [ngClass]="'ratingColumn'">
          <app-rating-star [rating]="tasting.rating ? tasting.rating : 0"></app-rating-star>
        </td>
        <td>
          <span [ngClass]="'tastingPopup'">{{tasting.comment}}
            <span [ngClass]="'tastingPopupContents'">
              <span><strong>Nose:<br></strong>{{tasting.nose}}</span><br><br>
              <span><strong>Palate:<br></strong>{{tasting.palate}}</span><br><br>
              <span><strong>Finish:<br></strong>{{tasting.finish}}</span><br><br>
            </span>
          </span>
        </td>
        <td [ngClass]="'editButtomColumn'">
          <button [ngClass]="'button'" (click)="editTasting(tasting)"><i class="fa fa-pencil"></i> Edit</button>
          <button [ngClass]="'button'" (click)="confirmDeleteTasting(tasting)"><i class="fa fa-times"></i> Delete</button>
        </td>
      </tr>
    </table>
    </div>


    <!-- Third Party Tastings  -->
    <div id="thirdPartyTastings" [ngClass]="'tab'" style="display: none">
      <div>
        <button [ngClass]="'button'" (click)="addTasting(true)"><i class="fa fa-plus"></i> Add</button>
      </div>
      <br>
    <table>
      <tr>
        <th [ngClass]="'dateColumn'">Date</th> 
        <th>Source</th>
        <th>Comment</th>
        <th [ngClass]="'editButtomColumn'"></th>
      </tr>
      <tr *ngFor="let thirdPartyTasting of thirdPartyTastings">
        <td [ngClass]="'dateColumn'">{{thirdPartyTasting.dateAdded | utcDate | date:'MM/dd/yyyy'}}</td>
        <td>{{thirdPartyTasting.location}}</td>
        <td>
          <span [ngClass]="'thirdPartyTastingPopup'">{{thirdPartyTasting.comment}}
            <span [ngClass]="'thirdPartyTastingPopupContents'">
              <span><strong>Nose:<br></strong>{{thirdPartyTasting.nose}}</span><br><br>
              <span><strong>Palate:<br></strong>{{thirdPartyTasting.palate}}</span><br><br>
              <span><strong>Finish:<br></strong>{{thirdPartyTasting.finish}}</span><br><br>
            </span>
          </span>
        </td>
        <td [ngClass]="'editButtomColumn'">
          <button [ngClass]="'button'" (click)="editTasting(thirdPartyTasting)"><i class="fa fa-pencil"></i> Edit</button>
          <button [ngClass]="'button'" (click)="confirmDeleteTasting(thirdPartyTasting)"><i class="fa fa-times"></i> Delete</button>
        </td>
      </tr>
    </table>
    </div>
      


    <!-- Wishlists  -->
    <div id="wishlists" [ngClass]="'tab'" style="display: none">
      <!-- <div [ngClass]="'section-label'">Wishlists</div> -->
      <div>
        <button [ngClass]="'button'" (click)="addWishlist()"><i class="fa fa-plus"></i> Add</button>
      </div>
      <br>
      <table>
        <tr>
          <th>Wishlist</th>
          <th [ngClass]="'editButtomColumn'"></th>
        </tr>
        <tr *ngFor="let wishlist of wishlists">
          <td><a (click)="goToWishlist(wishlist)">{{wishlist}}</a></td>
          <td [ngClass]="'editButtomColumn'">
            <button [ngClass]="'button'" (click)="confirmDeleteWishlist(wishlist)"><i class="fa fa-times"></i> Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div> <!-- tabContainer  -->
</div>
<app-footer></app-footer>


<app-edit-dialog></app-edit-dialog>
<app-confirm-dialog></app-confirm-dialog>