<div>
    <div><label for="distillerName">Distiller Name</label></div>
    <div><input type="text" id="distillerName" [(ngModel)]="scotch.distillerName"></div>
</div>
<div>
    <div><label for="flavor">Expression</label></div>
    <div><input type="text" id="flavor" [(ngModel)]="scotch.flavor"></div>
</div>
<div>
    <div><label for="age">Age</label></div>
    <div><input type="number" id="age" [(ngModel)]="scotch.age"></div>
</div>
<div>
    <div><label for="style">Style</label></div>
    <select id="style" [(ngModel)]="scotch.style" name="style">  
        <option *ngFor="let style of styles" [ngValue]="style.name">{{style.name}}</option>
    </select>
</div>
<div>
    <div><label for="region">Region</label></div>
    <select id="region" [(ngModel)]="scotch.region" name="region">  
        <option *ngFor="let region of regions" [value]="region.name">{{region.name}}</option>
    </select>
</div>
<div><label for="inStock">In Stock </label>
  <input type="checkbox" id="inStock" [(ngModel)]="scotch.inStock">
</div>
<div>
  <div><label for="bottlingNotes">Bottling Note</label></div>
  <div><textarea id="bottlingNotes" [(ngModel)]="scotch.bottlingNotes" rows="7" cols="45"></textarea></div>
</div>
<div>
  <div><label for="comment">Comment</label></div>
  <div><textarea id="comment" [(ngModel)]="scotch.comment" rows="7" cols="45"></textarea></div>
</div>
