<app-page-header [title]="title" [subtitle]="subtitle"></app-page-header>
  <!-- Styles  -->
  <div [ngClass]="'section-label'">Scotch Styles</div>

  <app-data-table 
                dataSetName="styles" 
                [dataset]="styles" 
                pageSize="8" 
                detailsButton="false" 
                newButton="true"
                editButton="true" 
                deleteButton="true" 
                filterButton="false"
                (newItem)="addStyle($event)"
                (editItem)="editStyle($event)"
                (deleteItem)="confirmDeleteStyle($event)">
          <app-column  
                      fieldName="name" 
                      header="Styles" 
                      sortable="true" 
                      filterable="false" 
                      dataType="text" 
                      styleClass="textColumn">
          </app-column>
  </app-data-table>


  <!-- Regions  -->
  <div [ngClass]="'section-label'">Scotch Regions</div>
  <app-data-table 
                dataSetName="regions" 
                [dataset]="regions" 
                pageSize="8" 
                detailsButton="false" 
                newButton="true"
                editButton="true" 
                deleteButton="true" 
                filterButton="false"
                (newItem)="addRegion($event)"
                (editItem)="editRegion($event)"
                (deleteItem)="confirmDeleteRegion($event)">
          <app-column  
                      fieldName="name" 
                      header="Regions" 
                      sortable="true" 
                      filterable="false" 
                      dataType="text" 
                      styleClass="textColumn">
          </app-column>
  </app-data-table>

<app-footer></app-footer>


<app-edit-dialog></app-edit-dialog>
<app-confirm-dialog></app-confirm-dialog>